<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${BR_PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>GrowlMail.icns</string>
	<key>CFBundleIdentifier</key>
	<string>${BR_BUNDLE_ID}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(PRODUCT_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>emal</string>
	<key>CFBundleVersion</key>
	<string>$(PRODUCT_VERSION)</string>
	<key>NSPrincipalClass</key>
	<string>GrowlMail</string>
	<key>SupportedPluginCompatibilityUUIDs</key>
	<array>
		<string>0941BB9F-231F-452D-A26F-47A43863C991</string>
	</array>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://sparkle.bewarereactor.com/clog/appcast.php</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUPromptUserOnFirstLaunch</key>
	<true/>
	<key>CFBundleName</key>
	<string>${BR_PRODUCT_NAME}</string>
</dict>
</plist>
